<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- cnd fontawesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
   <!-- google font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
   <!-- development version, includes helpful console warnings -->
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <!-- css -->
   <link rel="stylesheet" href="dist/app.css">
   <title>Prova Michele Lisignoli</title>
</head>
<body>
   <div id="app">
      <!-- header -->
      <header>
         <div class="burger-menu" @click="menutoggleshow">
            <div class="bars"></div>
         </div>
         <div class="menu" :class="menushow">
            <i class="fas fa-times" @click="menutoggleshow"></i>
            <nav>
               <ul>
                  <li><a href="#">Chi siamo</a></li>
                  <li><a href="#">I Nostri Prodotti</a></li>
                  <li><a href="#">Idratazione & Gusto</a></li>
                  <li><a href="#">L'Impegno per l'Ambiente</a></li>
                  <li><a href="#">Le Persone al Centro</a></li>
                  <li><a href="#">Le News da Scoprire</a></li>
               </ul>
            </nav>
         </div>
         <div class="top_header">
            <div class="container">
               <div class="left">
                  <div class="logo">
                     <img src="img/logo-completo.png" alt="logo Sanpellegrino">
                  </div>
                  <div class="we_share">
                     <p><span class="future">the future</span><span class="we">we</span><span class="share">share</span></p>
                  </div>
               </div>
               <div class="right">
                  <input type="text" placeholder="Cerca">
                  <i class="fas fa-search"></i>
               </div>
            </div>
         </div>
         <div class="bottom_header">
            <div class="container">
               <nav>
                  <ul>
                     <li><a href="#">Chi siamo</a></li>
                     <li><a href="#">I Nostri Prodotti</a></li>
                     <li><a href="#">Idratazione & Gusto</a></li>
                     <li><a href="#">L'Impegno per l'Ambiente</a></li>
                     <li><a href="#">Le Persone al Centro</a></li>
                     <li><a href="#">Le News da Scoprire</a></li>
                  </ul>
               </nav>
            </div>
            <div class="index">
               <div class="container">
                  <p><a href="#">Back</a> | Home > Chi siamo</p>
               </div>
            </div>
         </div>
      </header>
      <!-- //header -->
      <!-- main -->
      <main>
         <!-- hero -->
         <section class="hero">
            <div class="small-container">
               <img src="img/img1.jpg" alt="hero image">
               <div class="lyrics">
                  <div class="titles">
                     <h3>Chi Siamo</h3>
                     <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                  </div>
                  <div class="pharagraf">
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore hic, praesentium eligendi sint debitis vero impedit ratione asperiores qui molestias! Assumenda dignissimos blanditiis ex impedit pariatur labore placeat repudiandae accusamus. <br> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius neque dolor repellendus sunt molestiae dolore minus praesentium exercitationem perspiciatis, vero dicta quaerat repellat dolorem reprehenderit sed earum tenetur pariatur maiores.</p>
                  </div>
                  
               </div>
            </div>
         </section>
         <!-- //hero -->
         <!-- articles -->
         <section class="articles">
            <div class="container">
               <div v-for="article in articles" class="article">
                  <div class="cover">
                     <img :src="'img/img' + article.poster + '.jpg'" alt="article cover">
                  </div>
                  <div class="lyrics">
                     <div class="content">
                        <h3>{{article.tag}}</h3>
                        <h2>{{article.title}}</h2>
                        <p>{{article.lyric}}</p>
                        <a href="#">Scopri di più</a>
                     </div>   
                  </div>
               </div>

            </div>
         </section>
         <!-- //articles -->
         <!-- brands -->
         <section class="brands">
            <div class="small-container">
               <div class="titles">
                  <h3>I nostri brand</h3>
                  <h2>Scopi tutta la nostra offerta</h2>
               </div>
               <div class="lyrics">
                  <p>Vantiamo una gamma di prodotti diversificata e completa per posizionamente e fascia di prezzo, che ci cnsente di offrire al consumatore acque minerali e bevante, distribuiti nei packaging più adatti - per tipologia e formato - a tutte le esigenze.</p>
                  <a>Scopi tutti i nostri brand<a>
               </div>
            </div>
            <div class="carousel" data-flickity='{ "wrapAround": true }'>
               <div v-for="brand in brands" class="carousel-cell">
                  <div class="content">
                     <div class="spacekeeper">
                        <img src="img/S.Pellegrino.jpg" alt="">
                     </div>
                     <div class="box">
                        <div class="poster">
                           <img :src="'img/' + brand.name + '.jpg'" alt="">
                        </div>
                        <div class="info">
                           <div class="bottle">
                              <img :src="'img/' + brand.bottle + '.jpg'" alt="">
                           </div>
                           <div class="text">
                              <h4>{{brand.title}}</h4>
                              <p>{{brand.lyric}}</p>
                              <img src="img/arrow.png" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
             
         </section>

         <!-- //brands -->
         <!-- values -->
         <section class="values">
            <div class="small-container">
               <div class="content">
                  <h3>In a bottle</h3>
                  <h2>Il magazine online sul mondo e i valori dell'acqua minerale</h2>
                  <a>Scopi il magazine<a></a>
               </div>
            </div>
         </section>
         <!-- //values -->
      </main>
      <!-- //main -->
      <!-- footer -->
      <footer>
         <div class="container">
            <div class="content">
               <div class="logo">
                  <img src="img/logo-completo.png" alt="logo completo">
               </div>
               <nav class="footer_nav">
                  <ul>
                     <li><a href="#">Lavora con noi</a></li>
                     <li><a href="#">FAQ</a></li>
                     <li><a href="#">Contatti</a></li>
                     <li><a href="#">Note legali</a></li>
                     <li><a href="#">Netiquette</a></li>
                     <li><a href="#">Cookies</a></li>
                  </ul>
               </nav>
            </div>
         </div>
      </footer>
      <div class="greetings">
         <small>Grazie di <span>&#10084;</span> per questa opportunità, Michele</small>
      </div>
      <!-- //footer -->
   </div>
</body>
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
<script src="js/script.js"></script>
</html>