.articles{
   .article{
      display: flex;
      &:nth-child(even){
         flex-direction: row-reverse;
      }
      margin-bottom: 50px;
      .cover{
         width: 50%;
         img{
            width: 100%;
         }
      }
      .lyrics{
         width: 50%;
         text-align: center;
         display: flex;
         align-items: center;
         justify-content: center;
         .content{
            max-width: 60%;
         }
         p{
            margin: $gutter 0;
         }
         a{
            text-decoration: none;
            color: #ed1a2e;
            font-size: 12px;
            font-weight: bold;
         }
      }
   }
}