.articles{
   .container{
      max-width: 85%;
   }
   .article{
      display: flex;
      flex-wrap: wrap;
      &:nth-child(even){
         flex-direction: row-reverse;
      }
      margin-bottom: 50px;
      @media screen and (max-width:1200px) {
         margin-bottom: 80px;
      }
      .cover{
         width: 50%;
         @media screen and (max-width:1200px) {
            width: 100%;
            margin-bottom: $gutter;
         }
         img{
            width: 100%;
         }
      }
      .lyrics{
         width: 50%;
         text-align: center;
         display: flex;
         align-items: center;
         justify-content: center;
         @media screen and (max-width:1200px) {
            width: 100%;
         }
         .content{
            max-width: 60%;
            @media screen and (max-width:1200px) {
               max-width: 90%;
            }
         }
         p{
            margin: $gutter 0;
         }
         a{
            text-decoration: none;
            color: #ed1a2e;
            font-size: 12px;
            font-weight: bold;
         }
      }
   }
}