.articles{
   .article{
      display: flex;
      &:nth-child(even){
         flex-direction: row-reverse;
      }
      .cover{
         width: 50%;
         img{
            width: 100%;
         }
      }
      .lyrics{
         width: 50%;
         text-align: center;
         display: flex;
         align-items: center;
         justify-content: center;
         .content{
            max-width: 60%;
         }
      }
   }
}