.brands{
   background-color: $header_bg;
   background-image: url("../img/pattern.png");
   background-size: cover;
   color: #fff;
   margin-bottom: 150px;
   position: relative;
   .small-container{
      display: flex;
      flex-wrap: wrap;
      padding-top: $gutter;
      padding-bottom: 200px;
      @media screen and (max-width:1200px) {
         text-align: center;
      }
      .titles{
         width: 30%;
         @media screen and (max-width:1200px) {
            width: 100%;
            h2{
               margin-bottom: $gutter;
            }
         }
         h3{
            color: #fff;
         }
         h2{
            max-width: 90%;
            @media screen and (max-width:1200px) {
               max-width: 100%;
            }
         }
      }
      .lyrics{
         width: 70%;
         @media screen and (max-width:1200px) {
            width: 100%;
         }
         p{
            line-height: 25px;
            margin-bottom: $gutter;
         }
         a{
            text-decoration: none;
            color: #fff;
            position: relative;
            &::after{
               content: "";
               width: 110%;
               position: absolute;
               height: 1px;
               bottom: -5px;
               background-color: #fff;
               left: -5%;
            }
         }
      }
   }
   .carousel {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 100%;
      left: 50%;
      width: 1000px;
      margin: auto;
      overflow: hidden;
      justify-content: space-between;
      @media screen and (max-width: 1200px){
         width: 80%;
      }
      .flickity-viewport{
         width: 85%;
         margin: auto;
         overflow: hidden;
      }
      @media screen and (max-width: 1200px){
         width: 90%;
      }
      .carousel-cell {
         width: calc(100% / 3);
         margin-right: 2%;
         margin-bottom: 20px;
         @media screen and (max-width: 1200px){
            width: 50%;
         }
         @media screen and (max-width: 600px){
            width: 100%;
         }
         .content{
            width: 100%;
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
            position: relative;
            background-color: #fff;
            overflow: hidden;
            position: relative;
            .spacekeeper{
               width: 100%;
               visibility: hidden;
               img{
                  width: 100%;
               }
            }
            .box{
               width: 200%;
               height: 100%;
               display: flex;
               position: absolute;
               top: 0;
               left: 0;
               transition: all 1s;
               &:hover{
                  left: -100%
               }
               .poster{
                  width: 100%;
                  img{
                     width: 100%;
                  }
               }
               .info{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  height: 100%;
                  .bottle{
                    height: 100%;
                     img{
                        height: 100%;
                     }
                  }
                  p{
                     margin: 10px 0;
                  }

                  .text{
                     padding: 20px;
                     color: #000;
                     text-align: center;
                     img{
                        max-width: 50%;
                     }
                  }
               }
            }
         }
        
         &:before {
            display: none;
         }
      }
      .flickity-button{
         cursor: pointer;
         position: absolute;
         width: 25px;
         top: 35%;
         background-color: transparent;
         border: transparent;
         svg{
            fill: #cecece;
            transition: all 0.5s;
            &:hover{
               fill: $primary;
            }
         }
         &.next{
            right: 0;
         }
      }
      .flickity-page-dots{
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;
         .dot{
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #bbbbbb;
            margin-right: 15px;
            
            &::marker{
               color: transparent;
            }
            &.is-selected{
               width: 13px;
               height: 13px;
               background-color: #000;
            }
         }
      }
   }
}