*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   &:focus{
      outline: transparent;
      border: transparent;
   }
}
body{
   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   font-size: 14px;
}
.container{
   width: 1280px;
   max-width: 95%;
   margin: auto;
}
.small-container{
   width: 1060px;
   max-width: 85%;
   margin: auto;
}

// TYPO
h1, 
h2{
   font-family: 'Playfair Display';
   font-size: 30px;
}

h3{
   color: #ed1a2e;
   font-size: 12px;
   font-weight: bold;
   margin-bottom: $gutter;
}